:root {
  --workout-bg: #D6EDFF;
  --workout-color: #006EC2;
  --font: Arial;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 30px;
}

body {
  font-family: var(--font);
}

h1 {
  font-size: 90px;
}

h4 {
  color: var(--workout-bg);
}

h6 {
  color: var(--workout-bg);
}

p {
  display: inline;
  font-size: 1rem;
  margin: 0 20px;
}

#workout {
  background: var(--workout-bg);
  color: var(--workout-color);
}

/* --- WORKOUT SELECTION --- */

#workout-selection, #workout-workout {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#workout select {
  border: 5px solid var(--workout-color);
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: var(--workout-bg);
  color: var(--workout-color);
}

#setTime {
  border: 5px solid var(--workout-color);
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2rem;
  text-align: center;
  background: var(--workout-bg);
  color: var(--workout-color);
  width: 2.4rem;
}

#setTime::-webkit-inner-spin-button,
#setTime::-webkit-outer-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

#workout button {
  background: var(--workout-color);
  padding: 5px 80px;
  margin: 30px;
  font-size: 1.2rem;
  color: var(--workout-bg);
  border: 5px solid var(--workout-color);
  border-radius: 5px;
}

#time, #area, #intensity {
  margin: 2%;
}

/* --- WORKOUT RESULTS --- */

#workout-workout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#workout-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#workout-workout h1 {
  margin-bottom: 50px;
}

.left-side {
  height: 440px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.workout-card {
  background: var(--workout-bg);
  border: 5px solid var(--workout-color);
  border-radius: 5px;
  width: 250px;
  position: relative;
  justify-content: flex-start;
}

#next-workout {
  justify-content: flex-end;
  background: var(--workout-color);
  color: var(--workout-bg);
  min-height: 80px;
  border-radius: 10px;
}

#next-workout h6 {
  margin: 10px;
}

#next-workout h5 {
  text-align: center;
  margin: 20px;
}

.workout-card .card-image {
  min-width: 230px;
  max-width: 100%;
  min-height: 230px;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-text {
  background: var(--workout-color);
  padding: 10px;
  display: block;
}

.card-text h4 {
  float: left;
}

.workout-card #workout-info {
  background: var(--workout-bg);
  font-size: 0.7rem;
  border: 2px solid transparent;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  box-sizing: border-box;
  float: right;
}

.workout-card #workout-info:hover {
  color: var(--workout-bg);
  background: var(--workout-color);
  border: 2px solid var(--workout-bg);
}

#workout-info:visited {
  color: var(--workout-color);
}

#intervals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 260px;
}

#intervals h6 {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 16px;
  background: var(--workout-color);
  margin: 10px;
  color: var(--workout-bg);
  border: none;
  float: left;
}
#intervals h6#active {
  border: solid 5px var(--workout-color);
  background: var(--workout-bg);
  color: var(--workout-color);
}

#intervals h6 span {
  float: right;
}

.buttons {
  margin-top: 50px;
}

/* --- OTHER CLASSES --- */

.hide {
  display: none !important;
}

.clear {
  clear: both;
}