/* ----------------------------------------- */
/* ---------------- GLOBALS ---------------- */
/* ----------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,800,900');

:root {
    --color--primary__home: #2B303A;
    --color--secondary__home: #F96F5D;
    --color--primary__bpm: #FFD6D6;
    --color--secondary__bpm: #C20000;
    --color--primary__pomodoro: #D6FFF4;
    --color--secondary__pomodoro: #00C28E; }

* {
    border: 0;
    margin: 0;
    padding: 0; }

html {
    font-size: 30px; }

body {
    font-family: Montserrat, Arial; }

section {
    min-height: 100vh;
    display: flex; }

h1 {
    font-size: 10vmin;
    font-weight: 900; }

h2 {
    font-size: 9vmin;
    font-weight: 900; }

h4 {
    font-size: 1.33rem;
    font-weight: 400; }

h5 {
    font-size: 1.66rem;
    font-weight: 200; }

p {
    font-size: 0.533rem;
    font-weight: 300; }

a {
    text-decoration: none; }

.wrapper {
    margin: 0 5%; }

.btn {
    padding: 5px;
    margin: 40px; 
    text-align: center;
    text-decoration: none;
    border-radius: 0.4rem; }

    .btn > img {
        max-width: 210px;
        max-height: 210px; 
        border-radius: 5px; }

@media screen and (max-width: 600px) {
    h2 {
        font-size: 2.30rem; }
}