---
import Body from "../components/Body.astro";

import About from "../partials/About.astro";
import Header from "../partials/Header.astro";
import Projects from "../partials/Projects.astro";
import Skills from "../partials/Skills.astro";
import Work from "../partials/Work.astro";
import Contact from "../partials/Contact.astro";
---
<Body>
    <Header />
	<hr>
	<About />
	<hr>
	<Projects />
	<hr>
	<Work />
	<hr>
	<Skills />
	<hr>
	<Contact />
</Body>