---
import Navbar from "./Navbar.astro";

import "../reset.css"
import "../fonts.css"
import "../style.css"
---
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="node_modules/@fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet">
		<link href="node_modules/@fortawesome/fontawesome-free/css/brands.css" rel="stylesheet">
		<link href="node_modules/@fortawesome/fontawesome-free/css/solid.css" rel="stylesheet">
	</head>
  <body>
	<Navbar />
	<div class="container">
		<slot />
	</div>
  </body>
</html>