<section>
	<h2 class="fs-secondary-heading space-bottom">About</h2>
	<div class="columns">
		<p>
			To constantly improve my knowledge, learn new ideas and perfecting my tools is something that certanly rings true to me. Having all the knowledge that I need to be able to create basically anything I want is my biggest motivation.
			<br>
			<br>
			And, when I’m not coding websites or making games, I love getting outdoors, grabbing a beer with some friends or just play some games.
		</p>
	
		<img src="/images/profile.JPG" alt="profile picture of Ted Ideborg (me)">
	</div>
</section>

<style>
	p {
		padding-right: 50px;
        font-size: var(--fs-400)
	}
	
	img {
		max-width: 220px;
		max-height: 220px;
		/* padding-left: 70px; */
		border-radius: 50%;
	}

	.columns {
		margin: 100px 0;
	}
</style>
