<section>
    <h2 class="fs-secondary-heading space-bottom">Contact</h2>
    <div class="contacts">
        <a href="https://twitter.com/TedIdeborg"
            ><img src="/icons/twitter.svg" class="icon" /></a
        >
        <a href="https://linkedin.com/in/ideborgted/"
            ><img src="/icons/linkedin.svg" class="icon" /></a
        >
        <a href="https://github.com/tedideborg"
            ><img src="/icons/github.svg" class="icon" /></a
        >
        <a href="https://tedideborg.itch.io"
            ><img src="/icons/itch.svg" class="icon" /></a
        >
    </div>
    <div class="email">
        <a
            href="mailto:t.ideborg@gmail.com?subject=Hello!"
            class="fs-link fs-medium-bold-heading"
        >
            Email me
        </a>
    </div>
</section>

<style>
    .icon {
        width: 40px;
        height: auto;
    }

    .contacts {
        display: flex;
        justify-content: space-evenly;
        gap: var(--sp-700);
    }

    p {
        display: inline;
    }

    .email {
        margin-top: var(--sp-700);
        width: 100%;
        text-align: center;
    }
</style>
