<section>
	<h2 class="fs-secondary-heading space-bottom">Contact</h2>
	<div class="contacts">
		<a href="">
			<i class="fa-brands fa-3x fa-twitter"></i>
		</a>
		<a href="">
			<i class="fa-brands fa-3x fa-linkedin"></i>
		</a>
		<i class="fa-brands fa-3x fa-github"></i>
		<i class="fa-brands fa-3x fa-itch-io"></i>
	</div>
	<div class="email">
		<a href="mailto:t.ideborg@gmail.com?subject=Hello!" class="fs-link fs-medium-bold-heading">
			Email me
		</a>
	</div>
</section>

<style>
	.contacts {
		display: flex;
		justify-content: center;
		gap: var(--sp-700);
	}
	
	p {
		display: inline;
	}

	.email {
		margin-top: var(--sp-700);
		width: 100%;
		text-align: center;
	}
</style>