<section>
	<h1 class="fs-primary-heading">Hej!</h1>
	<p>My name is Ted and I’m a front end developer</p>
</section>

<style>
	section {
		min-height: 80vh;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
	}

	p {
		font-size: 3.125em;
	}
</style>