---
import json from '../data/skills.json';

const skills = json.skills;
---

<section>
    <h2 class="fs-secondary-heading space-bottom">Skills</h2>
    {
        skills.map((group) => {
            return (
                <div class="skill-group">
                    <h3 class="fs-medium-bold-heading">{group.title}</h3>
                    <div class="skills">
                        {group.skills.map((item) => {
                            return (
                                <div class="skill">
                                    <img src={item.icon} />
                                    <p>{item.what}</p>
                                </div>
                            );
                        })}
                    </div>
                </div>
            );
        })
    }
</section>

<style>
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .skill-group h3 {
        margin-top: 1.4rem;
        margin-bottom: 1rem;
    }

    .skill {
        margin: var(--sp-200) 0;
        display: grid;
        grid-auto-flow: column;
        justify-content: flex-start;
        align-items: center;
    }

    .skill p {
        margin-left: var(--sp-200);
        display: inline;
    }

    .skill i,
    .skill img {
        width: 20px;
        height: auto;
    }
</style>
